<div class="container" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Budgeting Application</span>
      <span fxFlex="1 1 auto"></span>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-tab-group fxFlexFill>
    <mat-tab label="Upload">
      <app-upload></app-upload>
    </mat-tab>
    <mat-tab label="Budget">
      <app-upload-view-container></app-upload-view-container>
    </mat-tab>
  </mat-tab-group>
</div>
