<div class="container" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Budgeting Application</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxFlex>
    <mat-card fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxFlexAlign="center">
        <div>
          <img mat-card-image
               src="../../../../../assets/icons/screenshot.svg" alt="screenshot-img"/>
        </div>
      </div>
      <button mat-raised-button color="primary">Upload Screenshot</button>
    </mat-card>
  </div>
  <div fxLayout="column" fxLayoutAlign="end">
    <mat-card>
      <div>
        Icons made by
        <a href="https://www.freepik.com/" title="Freepik">Freepik</a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </mat-card>
  </div>
</div>
