<mat-card class="container" fxLayout="column">
  <div fxFlex>
    <mat-card fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxFlexAlign="center">
        <div>
          <img mat-card-image
               src="../../../../../assets/icons/screenshot.svg" alt="screenshot-img"/>
        </div>
      </div>
      <div></div>
      <div fxLayout="column" fxLayoutGap="1rem">
        <div fxLayout="row" fxLayoutAlign="center center">
          <input type="file" (change)="detectFile($event)" [hidden]="true" #inputFile>
          <mat-form-field *ngIf="selectedFile">
            <input matInput [disabled]="true" [placeholder]="selectedFile.name">
            <mat-hint>Selected file</mat-hint>
          </mat-form-field>
          <button *ngIf="!selectedFile" mat-raised-button color="secondary" (click)="openFileSelection()">Select a File</button>
          <mat-icon *ngIf="selectedFile" (click)="removeSelectedFile()" color="warn">not_interested</mat-icon>
        </div>
        <button mat-raised-button color="primary" (click)="uploadFile()" [disabled]="!selectedFile">Upload Screenshot</button>
      </div>
    </mat-card>
  </div>
</mat-card>
