<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Login</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card fxLayout="column">
  <form [formGroup]="loginForm" fxLayout="column">
    <mat-form-field>
      <input matInput type="email" placeholder="Enter your email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" required placeholder="Enter your password">
    </mat-form-field>
  </form>
  <button fxFlexAlign="end" mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.valid">Login</button>

</mat-card>
